body {
  margin: 0;
  padding: 0;
}

header {
  margin: 0;
  padding: 0;
}

.topnav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  background-color: #333333;
  position: sticky;
  top: 0;
  font-size: 24px;
}

.topnav li {
  float: left;
  border-right: 1px solid white;
}

.topnav li:last-child {
  border-right: none;  
}

.topnav li a {
  display: block;
  padding: 14px 36px;
  color: #a1a1a1;
  text-align: center;
  text-decoration: none;
}

.topnav li a:hover {
  background-color: #111111;
  color: #f1f1f1;
}

.topnav li a.active {
background-color: #ff1616;
color: #f1f1f1;
}

.sidenav {
 height: 100%;
  width: 200px;
  position: fixed;
  z-index: 1;
  margin: 0;
  padding: 0;
  background-color: #f1f1f1;
  overflow-x: hidden;
  padding-top: 20px;
}

.sidenav ul {
  border: 2px black;
  border-style: solid;
  display: block;
  margin: 30px 10px 10px 10px;
  padding: 0px;
  border-radius: 5px;
  list-style-type: none;
  
}

.sidenav ul a, .dropdown-btn {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 20px;
  color: #000000;
  background-color: #d1d1d1;
  display: block;
  border: none;
  border-bottom: 1px solid black;
  text-align: left;
  outline: none;
  font-family: Arial, Helvetica, sans-serif;
  font-size: medium;
}

.sidenav ul li a, .dropdown-btn {
  cursor: pointer;
}

.dropdown-btn {
  width: 100%;
}

.dropdown-container li:last-child {
  border-bottom: none;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
}

#last {
  border-bottom: none;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
}

.sidenav a#category {
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}

.sidenav li a:hover, .dropdown-btn:hover {
  color: #f1f1f1;
  background-color: #c1c1c1;
}

.dropdown-container {
  display: none;
  border-bottom: 1px solid black;
}

.dropdown-container li a{
  background-color: #e1e1e1;
  padding-left: 28px;
  border: none;
}

.sidenav .active {
  background-color: green;
  color: white;
}

.fa-caret-down {
  float: right;
  padding-right: 8px;
}

.main {
margin-left:200px;
padding:1px 16px;
height:1000px;
}

#div1, #div2 {
  float: left;
  width: 200px;
  height: 100px;
  margin: 10px;
  padding: 10px;
  border: 1px solid black;
}

#img1 {
  float: inherit;
  width: 100%;
  height: 100%;
}