body {
  margin: 0;
  padding: 0;
}

header {
  margin: 0;
  padding: 0;
}

nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  background-color: #333333;
  position: sticky;
  top: 0;
  font-size: 28px;
}

nav li {
  float: left;
  border-right: 1px solid white;
}

nav li:last-child {
  border-right: none;  
}

nav li a {
  display: block;
  padding: 14px 36px;
  color: white;
  text-align: center;
  text-decoration: none;
}

nav li a:hover {
  background-color: #111111;
}

nav li a.active {
background-color: #ff1616;
}

aside {
  margin: 0;
  padding: 0;
  width: 200px;
  background-color: #f1f1f1;
  position: fixed;
  height: 100%;
  overflow: auto;
}

ul {
  border: 2px black;
  border-style: solid;
  display: block;
  background-color: #d1d1d1;
  margin: 30px 10px 10px 10px;
  padding: 0px;
  border-radius: 5px;
  list-style-type: none;
  
}

a {
  display: block;
  color: black;
  padding: 8px 16px;
  text-decoration: none;
  text-align: center;
  border-bottom: 3px solid black;
}

li a {
  border-bottom: 1px solid black;
}

a.last {
  border-bottom: none;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
}

aside ul li a.active {
  background-color: #04AA6D;
  color: white;
}

aside li a:hover:not(.active) {
  background-color: #555555;
  color: white;
}

div {
margin-left:210px;
padding:1px 16px;
height:1000px;
}