@import "tailwindcss";
@import "bootstrap/dist/css/bootstrap.min.css";

li {
  display: block;
  padding: 14px 36px;
  color: #a1a1a1;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
}
