.topnav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  background-color: #333333;
  position: sticky;
  top: 0;
  font-size: 24px;
}

.topnavlink {
  float: left;
  border-right: 1px solid white;
  color: #f1f1f1;
  text-decoration-line: none;
}

.topnavlink:last-child {
  border-right: none;
}

.topnavlink a {
  display: block;
  padding: 14px 36px;
  color: #f1f1f1;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
}

.topnavlink:hover:not(.topnavactive) {
  background-color: #111111;
  color: #a1a1a1;
}

.topnavlink a:hover:not(.topnavactive a) {
  color: #a1a1a1;
}

.topnavactive {
  background-color: #ff1616;
  color: white;
}

.topnavactive a {
  color: white;
}

.sidebar {
  height: 100%;
  width: 200px;
  display: block;
  position: fixed;
  z-index: 1;
  padding-right: 10px;
  background-color: #f1f1f1;
  overflow-x: hidden;
  border-right: 3px solid dimgrey;
}

.sidenav {
  border: 3px black;
  border-style: solid;
  display: block;
  margin: 10px;
  padding: 0px;
  border-radius: 4px;
  list-style-type: none;
}

.sidenavlink,
.dropdown_btn {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 20px;
  color: #000000;
  background-color: #d1d1d1;
  display: block;
  border: none;
  border-bottom: 1px solid black;
  text-align: left;
  outline: none;
  font-family: Arial, Helvetica, sans-serif;
  font-size: medium;
  cursor: pointer;
}

.sidenavtext {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 20px;
  color: #000000;
  background-color: #a8a8a8;
  display: block;
  border: none;
  border-bottom: 1px solid black;
  text-align: left;
  outline: none;
  font-family: Arial, Helvetica, sans-serif;
  font-size: medium;
}

.dropdown_btn {
  width: 100%;
}

.last {
  border-bottom: none;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
}

.category {
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}

.sidenavlink:hover,
.dropdown_btn:hover:not(.dropdown_btn_active) .innerlink:hover {
  color: #f1f1f1;
  background-color: #c1c1c1;
}

.dropdown_container {
  display: none;
  border-bottom: 1px solid black;
}

.dropdown_container_active {
  display: block;
  border-bottom: 1px solid black;
}

.innerlink {
  background-color: #e1e1e1;
  padding-left: 28px;
  border: none;
}

.dropdown_btn_active {
  background-color: green;
  color: white;
}

.fa-caret-down {
  float: right;
  padding-right: 8px;
}

.main {
  margin-left: 200px;
  padding: 1px 16px;
  height: 1000px;
}

#div1,
#div2 {
  float: left;
  width: 200px;
  height: 100px;
  margin: 10px;
  padding: 10px;
  border: 1px solid black;
}

#img1 {
  float: inherit;
  width: 100%;
  height: 100%;
}
